@charset "utf-8";

.wrapper {
  position: relative;
  width: 400px;

  #email-input {
    padding: 5px 10px;
  }
  .email-sug {
    position: absolute;
    top: 29px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: #fff;
    border: 1px solid rgb(238, 238, 238);
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding: 4px 10px;

      &:hover{
        background-color: cornflowerblue;
        color: #fff;
      }

      &.active{
        background-color: lightpink;
        color: #fff;
      }
    }
  }
}
